.body{
    width: 750px;
}


.up{
    background-color: #2D7053;
    width: 750px;
    color: #FFFFFF;
    height: 237px;
    display: flex;

}
.uptext{
    width: 134px;
    height: 131px;
    padding-left: 57px;
    padding-top: 53px;
    padding-bottom: 53px;
    padding-right: 249px;
    font-size: 30px;
    margin: 0;
}
.updekor1 {
    
    width: 144px;
    height: 144px;
    border-radius: 60%;
    background: #ffffff;  
    margin-top: 46px;
    margin-left: 36px;
}
.updekor2 {
    width: 87px;
    height: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 83px;
    margin-right: -87px;

}
.updekor3{
    width: 87px;
    height: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 111px;
    margin-right: -87px;}
    .updekor4{
        width: 87px;
        height: 15px;
        border-radius: 5px;
        background: #FFFFFF;
        margin-top: 139px;
        margin-right: 44px;
    }
    .cabinet{
        width: 750px;
        height: 470px;
    }
    .box{
        width: 350px;
        height: 77px;
        background-color: #CB9223;
        color: #FFFFFF;
        position: absolute;
        font-size: 24px;
        margin-left: 200px;
        margin-top: 370px;
    }
    .boxtext{
        text-align: center;
        margin: revert ;

    }


    .foto{
        border-radius: 50%;
        margin-top: 80px;
        margin-left: 25px;
        float: left;
    }
    .name{
        margin-top: 155px;
        margin-right: 185px ;
        float: right;
        position: relative;
        font-size: 36px;
    }
    .special{
        float: right;
        margin-top: 30px;
        margin-right: 150px;
        font-size: 24px;
       /* position: relative;*/

    }
    .text{
        float: left;
    }
    .text1{
        margin-left: 45px;
        width: 590px;
        height: 166px;
        font-size: 24px;
    }
    .text2{
        margin-left: 45px;
        font-size: 32px;
    }

    .text3{
        margin-left: 45px;
        font-size: 24px;
        list-style: none;
    }
    .text3 li:before {
        content:  "—";
        position: relative;
        left:     -5px;
    }

    .aside{
        width: 750px;
        height: 155px;
        float: left;
        background-color: #888888;
        ;
    }

    .updekor5 {
    
        width: 99px;
        height: 99px;
        border-radius: 60%;
        background: #ffffff;  
        margin-top: 30px;
        margin-left: 45px;
        margin-right: 0px;
        padding: 0px;
        float: left;
    }
    .tel{
       
        padding-right: 45px;
        padding-top:58px ;
        padding-left:570px ;
        font-size: 18px;
        width: 165px;
        height: 15px;
     
    }

    .adress{
        width: 200px;
        height: 17px;
        font-size: 18px;
        padding-left: 269px;
        white-space: pre;
        margin-bottom: 35px;
        
    }
    .mail{
        font-size: 18px;
        padding-left: 500px;
    }